.image-cover-mountain-1{
    background-image: url("../../assets/images/covers/15.jpg") !important;
    background-size: cover;
}

.image-cover-mountain-2{
    background-image: url("../../assets/images/covers/16.jpg") !important;
    background-size: cover;
}

.image-cover-mountain-3{
    background-image: url("../../assets/images/covers/17.jpg") !important;
    background-size: cover;
}

.image-cover-mountain-4{
    background-image: url("../../assets/images/covers/20.jpg") !important;
    background-size: cover;
}

