.speaker-container {
    width: 150px;
    height: 200px;
    margin: 1em;
}

@media(max-width: 500px) {
    .speaker-container {
        width: 120px;
        height: 170px;
        margin: 1em;
    }

    .speaker-container:hover {
        width: 125px !important;
        transition: width 0.5s;
    }
}

.speaker-photo-container {
    width: 100%;
    height: 75%;
}

.speaker-container:hover {
    width: 160px;
    transition: width 0.5s;
}

.speaker-name-container {
    width: 100%;
    height: 25%;
}

.speaker-name-container p {
    padding-top: 15px;
}