.none {
    display: none !important;
}

.fixed {
    position: fixed;
}

.relative {
    position: relative;
}

.right {
    position: absolute;
    right: 0;
}

.left {
    position: absolute;
    left: 0;
}

.middle {
    position: absolute;
    top: 50%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.border {
    border: 1.5px solid white;
}

.red {
    color: #E62B1E;
}

.white {
    color: white;
}

.center {
    text-align: center;
}