.navbar {
  width: 100vw !important;
  background-color: transparent;
}

.navbar-burger {
  color: #0098BE;
}

a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:hover,
.navbar-link.is-active {
  background-color: #fafafa;
  color: #E62B1E;
  border-radius: 0px 0px 5px 5px;
}

.is-primary-hover:hover {
  background-color: #E62B1E !important;
}

.is-primary {
  background-color: #FF0000 !important;
}

.hero {
  background-color: #1A1A1A !important;
}

.is-info {
  background-color: #0098BE !important;
}

.is-info:hover {
  background-color: #007A97 !important;
}

.card {
  width: 70%;
  margin: 1em;
  box-shadow: 5px 10px;
  box-shadow: 10px 10px 51px -4px rgba(0,0,0,0.42);
}

@media (max-width: 600px) {
  .card {
    width: 90%;
  }
}

.fa-calendar-plus {
  padding-left: 1em;
}

.card-header-title{
  font-size: 1.8em;
}
