.clock-text {
  font-size: 1.5em;
  font-weight: 300;
  margin: 20px 0px 15px;
  line-height: 1.2;
}

#clock-div {
  display: inline-block;
  font-weight: 200;
  text-align: center;
}

#clock-div .time-number {
  display: inline-block;
  padding: 4px 4px;
  margin-left: 2px;
  min-width: 39px;
  border-radius: 18px;
  background: #fafafa;
  font-size: 1.8em;
}

#clock-div > span {
  font-size: 1.2em;
}

@media screen and (max-width: 700px) {
  #clock-div .time-number {
    font-size: 1.4em;
    margin-left: 1px;
    min-width: 37px;
    padding: 4px 2px;
  }

  #clock-div > span {
    font-size: 0.9em;
  }
}

