.is-brackground-gray {
    background-color: #1A1A1A !important;
}

.is-brackground-white {
    background-color: white !important;
}

.red {
    color: #E62B1E !important;
}

.is-white { 
    color: white !important; 
}

.is-blick { 
    color: white !important; 
}