#main-title {
    font-size: 48px;
    font-weight: bold;
    color: #494949;
}

#main-subtitle {
    font-size: 33px;
    color: #363636;
    -webkit-animation-duration: 0.6s;
}

.is-information-style{
    font-size: 12px;
    font-family: 'Karla', sans-serif;
    color: white;
}

.is-information-style a{
    color: white;
}

.is-information-style a:hover{
    color: #7c7c7c;
}

.is-email-information {
    font-size: 14px;
    color: white;
}

.is-email-information:hover {
    color: #7c7c7c !important;
}

.phrase{
    padding-top: 6em;
    color: white;
    font-size: 1.3em;
}

@media (max-width: 600px) {
    .phrase{
        padding-top: 5em;
    }
}


.is-black {
    color: #1A1A1A;
}

.is-changing-text {
    font-size: 16px !important;
}