@import url('shared/class.css');
@import url('section.css');
@import url('shared/text.css');
@import url('icons.css');
@import url('./navbar/style.css');
@import url('./navbar/responsiveness.css');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

ul {
    padding-left: 0;
    margin-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

h1{
    color: white;
}