#navbar {
    width: 100%;
    height: 5em;
    z-index: 99;
    position: absolute;
}

.navbar_container {
    height: 4em;
    margin: 0.5em;
}

#navbar_buttons {
    width: 45%;
    height: 3em;
    margin-top: 1.6em;
}

#navbar_buttons li {
    height: 2em;
    margin: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

#navbar_buttons li:hover a{
    border-bottom: 1.5px solid #FF3218;
}

#navbar_buttons a {
    padding-top: 2px;
    font-weight: 100;
    font-size: 12px;
    padding-bottom: 2px;
    border-top: 1.5px solid none;
    color: white;
}

#navbar_logo {
    width: 20%;
    margin-left: 1em;
}

#navbar_logo img {
 width: 100%;
 margin-top: 0.9em;
 margin-left: 0.5em;
}
